{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <h1>{{ title }}</h1>
        <p><strong>Test:</strong> {{ original.title }}</p>
        
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ form.non_field_errors }}
        {% endif %}

        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans 'Soruları Ekle' %}" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}
